
h1{
    font-family: Tahoma;
    display: grid;
    text-align: center;
    font-size: 5em;
    margin: 5px;
    color: bisque;
    border-radius: 10px;
}
.superior {
    font-family: Tahoma;
    color: bisque;
    font-size: 4em;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
}
.superior div {
    background-color: bisque;
    margin: 5px;
    flex-basis: 100%;
    border-radius: 10px;
    text-align: center;
    background: url("../recursos/fondo.png");

}
.nav{
    display:grid;
    flex-direction: row;
    text-align: right;

    border: 1px solid bisque;
    padding: 10px;
    background: url("../recursos/fondo.png");
    font-family: 'Helvetica', sans-serif;
    border-radius: 20px;
    font-size: 3em;
}
a:link, a:visited{
    color: bisque;


}
.body {
    background: url("../recursos/horizontal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}
.centrar{
  max-width: 300px;
    max-height: 800px;
    border-radius: 30px;
}

@media (orientation: portrait) {
    .superior {
        flex-direction: column;
        font-size: 5em;
    }
    .superior div{
        lex-basis: 100%;
    }
    .body {
        background: url("../recursos/retrato.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
    }
    .centrar{
        max-width: 500px;
        max-height: 10000px;
        border-radius: 30px;
    }
    p{
        font-family: Tahoma;
        color: bisque;
        font-size: 3em;
    }
}
