.superior {
    font-family: Tahoma;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
}

.superior div {
    background-color: bisque;

    margin: 5px;
    flex-basis: 100%;
    border-radius: 10px;
    text-align: center;

}

.body {
    background: url("../recursos/horizontal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}

@media (orientation: portrait) {
    .superior {
        flex-direction: column;
    }
    .superior div{
        lex-basis: 100%;
    }

    .body {
        background: url("../recursos/retrato.jpg");
        background-size: cover;

    }
}

p {
    font-size: 1.4em;
}
